:root {
    --width: 600px;
    --height: 600px;


}

.content {
    width: var(--width);
    height: var(--height);
    position: relative;
    padding: 5px;
    margin-bottom: 10px;
}

.image_area {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: aqua;
    object-fit: contain;

}

.radio_lable{
    display: inline-block;
    
}

.canvas {
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 100%;
}

body {
    padding: 20px
}